{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>
    <br />
    <table class="table table-striped table-hover">
        <thead>
            <td>Transaction Type</td>
            <td>Stock Symbol</td>
            <td>No. of Shares</td>
            <td>Purchase/Sale Price</td>
            <td>Date and Time</td>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["type"] }}</td>
                    <td>{{ transaction["symbol"] }}</td>
                    <td>{{ transaction["num_shares"] }}</td>
                    <td>{{ transaction["total_price"] | usd }}</td>
                    <td>{{ transaction["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
